/* Importar la fuente Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 20px;
    max-width: 1800px;
    margin: 0 auto; /* Centrar la página */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para enlaces */
a {
    color: #F4A7B9 !important; /* Rosa pastel */
    text-decoration: none !important; /* Quitar subrayado */
}

a:hover {
    color: #E91E63 !important; /* Rosa mexicano */
    font-weight: bold !important;
}

/* Botones */
button:hover {
    background-color: #FF69B4;
    color: white;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  .container {
    margin: 0 auto;
    padding: 15px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .menu {
    display: block;
    text-align: center;
  }

  .menu li {
    display: block;
    margin: 5px 0;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
  body {
    font-size: 18px; /* Tamaño de texto más grande para pantallas grandes */
    padding: 20px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .menu {
    display: flex;
    justify-content: space-around; /* Menú horizontal */
  }

  .menu li {
    display: inline-block;
    margin: 0 15px;
  }
}